/target/
/script/
/
/.idea
/*.iml
/.settings/
/.classpath
/.project
/dependency-reduced-pom.xml
/bin/
/conf/
/log/
/site/
/.cache-main
/.cache-tests
/.DS_Store
/docs/images/.DS_Store
/module-main/target/
/module-web/target/
/module-main/src/test/resources/.DS_Store
/module-main/src/test/resources/geosparksim/
/module-main/src/test/resources/java-test/
/module-main/src/test/resources/scala-test/
/module-main/src/test/resources/samples/map-gh/