/target/
/script/
/
/.idea
/*.iml
/.settings/
/.classpath
/.project
/dependency-reduced-pom.xml
/bin/
/conf/
/log/
/site/
/.cache-main
/.cache-tests
/.DS_Store
/docs/images/.DS_Store
/src/test/resources/.DS_Store
/src/test/resources/geosparksim/
/src/test/resources/java-test/
/src/test/resources/scala-test/